<a href="https://colab.research.google.com/github/prateekmanral011/hackathon_spg_slb/blob/main/Merged_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import numpy as np
from scipy.spatial import cKDTree
import os

# ---------- INPUT / OUTPUT ----------
CONVERTED_CSV = "/content/A10_converted.csv"         # contains depth, poro, perm, gamma, facies...
FEATURES_CSV  = "/content/wells_split/A10_features.csv"  # contains MD and structural features (MD column name: "MD")
OUTPUT_CSV    = "/content/C7_merged_exact_nearestMD.csv"
# If you want to drop/blank feature columns when distance > threshold, set this to a value (meters).
# Otherwise set to None to keep all matches.
MAX_MATCH_DISTANCE = None   # e.g. 5.0 or None
# If you want to drop converted rows that have no petrophysical values after merge, set True
DROP_CONVERTED_WITHOUT_PETRO = False
# ------------------------------------

# 1) Read files
conv = pd.read_csv(CONVERTED_CSV).reset_index(drop=True)
feat = pd.read_csv(FEATURES_CSV).reset_index(drop=True)

print("Loaded: converted rows =", len(conv), "feature rows =", len(feat))

# 2) Ensure numeric depth columns exist and are numeric
# You said feature MD column is "MD"
FEATURE_MD_COL = "MD"
# Guess converted depth column (typical names)
possible = [c for c in conv.columns if c.lower() in ('depth','tvd','z','md','measureddepth')]
if len(possible) > 0:
    CONV_DEPTH_COL = possible[0]
else:
    # fallback to first numeric column
    numeric_cols = [c for c in conv.columns if pd.to_numeric(conv[c], errors='coerce').notna().sum() > 1]
    if not numeric_cols:
        raise ValueError("No numeric depth-like column found in converted CSV.")
    CONV_DEPTH_COL = numeric_cols[0]

print("Using converted depth column:", CONV_DEPTH_COL, "and feature MD column:", FEATURE_MD_COL)

conv[CONV_DEPTH_COL] = pd.to_numeric(conv[CONV_DEPTH_COL], errors='coerce')
feat[FEATURE_MD_COL] = pd.to_numeric(feat[FEATURE_MD_COL], errors='coerce')

conv = conv.dropna(subset=[CONV_DEPTH_COL]).reset_index(drop=True)
feat = feat.dropna(subset=[FEATURE_MD_COL]).reset_index(drop=True)

# 3) Build KDTree on feature MDs (1D)
feat_mds = feat[FEATURE_MD_COL].values.astype(float).reshape(-1,1)
tree = cKDTree(feat_mds)

# 4) Query nearest MD for every converted depth
conv_depths = conv[CONV_DEPTH_COL].values.astype(float).reshape(-1,1)
dists, idxs = tree.query(conv_depths, k=1)
dists = dists.flatten()
idxs = idxs.flatten()

# 5) Pull matched feature rows
matched_feat = feat.iloc[idxs].reset_index(drop=True).copy()

# 6) Prepare matched feature columns: rename to avoid collisions
# Keep matched MD as 'matched_MD' (original MD column will be copied into this)
matched_feat = matched_feat.rename(columns={FEATURE_MD_COL: 'matched_MD'})

# rename all other feature columns with suffix "_feat"
feat_cols = [c for c in matched_feat.columns if c != 'matched_MD']
rename_map = {c: f"{c}_feat" for c in feat_cols}
matched_feat = matched_feat.rename(columns=rename_map)

# 7) Compose merged DF (one row per converted depth)
merged = pd.concat([conv.reset_index(drop=True), matched_feat.reset_index(drop=True)], axis=1)
merged['md_distance_m'] = dists
merged['_matched_feat_index'] = idxs

# 8) Optionally blank feature columns for matches beyond MAX_MATCH_DISTANCE
if MAX_MATCH_DISTANCE is not None:
    mask_ok = merged['md_distance_m'].abs() <= float(MAX_MATCH_DISTANCE)
    if (~mask_ok).any():
        print(f"{(~mask_ok).sum()} rows have md_distance_m > {MAX_MATCH_DISTANCE} and will have feature columns set to NaN.")
        featcols = [c for c in merged.columns if c.endswith('_feat') or c == 'matched_MD']
        merged.loc[~mask_ok, featcols] = np.nan
    else:
        print("All matches are within MAX_MATCH_DISTANCE.")

# 9) (Optional) Remove converted rows that do not have any petrophysical data after merge
if DROP_CONVERTED_WITHOUT_PETRO:
    # determine petrophysical columns by common names
    petros = [c for c in merged.columns if any(s in c.lower() for s in ('por','perm','phi','gamma','gr','facies'))]
    if len(petros) == 0:
        print("No petrophysical columns auto-detected; not dropping any rows.")
    else:
        mask_has = merged[petros].notna().any(axis=1)
        removed = (~mask_has).sum()
        merged = merged[mask_has].copy().reset_index(drop=True)
        print(f"Dropped {removed} converted rows that had no petrophysical values.")

# 10) Save
merged.to_csv(OUTPUT_CSV, index=False)
print("Merged saved to:", OUTPUT_CSV)
print("Merged shape:", merged.shape)
print("md_distance_m stats:", merged['md_distance_m'].min(), merged['md_distance_m'].median(), merged['md_distance_m'].max())

# 11) Quick sample view
display_cols = [CONV_DEPTH_COL, 'matched_MD', 'md_distance_m'] + list(conv.columns[:8])
print("Sample merged rows (first 40):")
display(merged[[CONV_DEPTH_COL, 'matched_MD', 'md_distance_m'] + list(merged.columns[3:10])].head(40))

Loaded: converted rows = 1835 feature rows = 6011
Using converted depth column: DEPT and feature MD column: MD
Merged saved to: /content/C7_merged_exact_nearestMD.csv
Merged shape: (1835, 27)
md_distance_m stats: 7.999999979801942e-06 0.03809100000012222 0.5762089999998352
Sample merged rows (first 40):

,DEPT,matched_MD,md_distance_m,POROSITY,FLUVIALFACIES,NETGROSS,WellID_feat,X_feat,Y_feat,TVD_feat
0,1499.879,1499.878992,0.000008,NaN,NaN,0.0,A10,456979.0637,6782712.412,1499.878992
1,1500.129,1500.183692,0.054692,NaN,NaN,0.0,A10,456979.2657,6782712.377,1500.104433
2,1500.629,1500.640892,0.011892,NaN,NaN,0.0,A10,456979.5687,6782712.324,1500.442675
3,1501.129,1501.097992,0.031008,0.270646,0.0,0.0,A10,456979.8718,6782712.272,1500.780807
4,1501.629,1501.555192,0.073808,0.267428,0.0,0.0,A10,456980.1750,6782712.219,1501.118977
5,1502.129,1502.164892,0.035892,0.256076,0.0,0.0,A10,456980.5793,6782712.149,1501.569886
6,1502.629,1502.622092,0.006908,0.242126,0.0,0.0,A10,456980.8826,6782712.096,1501.907967
7,1503.129,1503.079192,0.049808,0.238589,0.0,0.0,A10,456981.1858,6782712.044,1502.245936
8,1503.629,1503.688792,0.059792,0.238377,0.0,0.0,A10,456981.5903,6782711.974,1502.696604
9,1504.129,1504.146092,0.017092,0.240893,0.0,0.0,A10,456981.8938,6782711.921,1503.034636
10,1504.629,1504.603292,0.025708,0.244279,0.0,0.0,A10,456982.1972,6782711.869,1503.372557
11,1505.129,1505.060392,0.068608,0.256038,0.0,0.0,A10,456982.5007,6782711.816,1503.710368
12,1505.629,1505.669992,0.040992,0.270472,0.0,0.0,A10,456982.9054,6782711.746,1504.160822
13,1506.129,1506.127291,0.001709,0.266565,0.0,0.0,A10,456983.2091,6782711.694,1504.498690
14,1506.629,1506.584492,0.044508,0.256802,0.0,0.0,A10,456983.5127,6782711.642,1504.836449
15,1507.129,1507.194192,0.065192,0.256206,0.0,0.0,A10,456983.9177,6782711.572,1505.286810
16,1507.629,1507.651192,0.022192,0.258538,0.0,0.0,A10,456984.2213,6782711.519,1505.624335
17,1508.129,1508.108492,0.020508,0.253027,0.0,0.0,A10,456984.5252,6782711.467,1505.962045
18,1508.629,1508.565691,0.063309,0.245013,0.0,0.0,A10,456984.8290,6782711.415,1506.299643
19,1509.129,1509.175392,0.046392,0.249393,0.0,0.0,A10,456985.2343,6782711.345,1506.749787
20,1509.629,1509.632391,0.003391,0.257731,0.0,0.0,A10,456985.5381,6782711.293,1507.087149
21,1510.129,1510.089692,0.039308,0.261494,0.0,0.0,A10,456985.8422,6782711.240,1507.424696
22,1510.629,1510.699292,0.070292,0.263797,0.0,0.0,A10,456986.2475,6782711.170,1507.874603
23,1511.129,1511.156592,0.027592,0.244432,0.0,0.0,A10,456986.5517,6782711.118,1508.212064
24,1511.629,1511.613592,0.015408,0.218148,0.0,0.0,A10,456986.8557,6782711.066,1508.549267
25,1512.129,1512.070892,0.058108,0.217284,0.0,0.0,A10,456987.1599,6782711.014,1508.886651
26,1512.629,1512.680491,0.051491,0.224536,0.0,0.0,A10,456987.5656,6782710.944,1509.336340
27,1513.129,1513.137792,0.008792,0.246015,0.0,0.0,A10,456987.8699,6782710.892,1509.673638
28,1513.629,1513.594792,0.034208,0.272036,0.0,0.0,A10,456988.1741,6782710.840,1510.010678
29,1514.129,1514.204392,0.075392,0.283209,0.0,0.0,A10,456988.5800,6782710.770,1510.460204
30,1514.629,1514.661692,0.032692,0.289643,0.0,0.0,A10,456988.8844,6782710.718,1510.797379
31,1515.129,1515.118992,0.010008,0.284402,0.0,0.0,A10,456989.1890,6782710.666,1511.134516
32,1515.629,1515.575992,0.053008,0.275434,0.0,0.0,A10,456989.4934,6782710.614,1511.471392
33,1516.129,1516.185591,0.056591,0.264269,0.0,0.0,A10,456989.8994,6782710.544,1511.920700
34,1516.629,1516.642891,0.013891,0.252403,0.0,0.0,A10,456990.2041,6782710.492,1512.257712
35,1517.129,1517.100192,0.028808,0.237911,0.0,0.0,A10,456990.5089,6782710.440,1512.594687
36,1517.629,1517.557192,0.071808,0.222581,0.0,0.0,A10,456990.8134,6782710.388,1512.931405
37,1518.129,1518.166792,0.037792,0.231234,0.0,0.0,A10,456991.2198,6782710.319,1513.380499
38,1518.629,1518.624092,0.004908,0.247545,0.0,0.0,A10,456991.5246,6782710.267,1513.717348
39,1519.129,1519.081391,0.047609,0.241234,0.0,0.0,A10,456991.8296,6782710.215,1514.054159